@page "/zawodnik/{ID}"
@model aplikacja_towam.Pages.zawodnikModel;
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="namesurname" style="text-align:center ">
    <h1>Dziennik Aktywności </h1>
</div>

<div class="namesurname" style="text-align:center">
    <h3>Test coopera</h3>
    <form asp-page-handler="cooper" method="post">
        <h3 id="as"> Dystans (km)</h3>
        <input type="number" name="value" style="margin-top:5px;margin-bottom:8px" /><br />
        <input type="date" id="start" name="data" value=@ViewData["aktualna"]> <br />
        <input type="submit" class="myButtonn" value="wgraj dane" /><br />
    </form>
    <div class="statsView">
        <table>
            <thead>
                <tr>
                    <th style="padding-right:10px">Data</th>
                    <th>Dystans [km]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.cooper)
                {
                    if (item != null)
                    {
                          <tr>
                        <td>@item.data.Day:@item.data.Month:@item.data.Year</td>
                        <td>@item.wartosc</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <br />
        <div>
             <h4>@ViewData["CooperStatystyki"]</h4>
        </div>    
    </div>

</div>


<div class="namesurname" style="text-align:center">
    <h3>Skuteczność strzałów</h3>
    <form asp-page-handler="strzaly" method="post" asp-antiforgery="true">
        <h3> Jaka skuteczność [%]</h3>
        <input type="number" name="procentstrzalow" style="margin-top:5px" />    <br />
        <input type="date" id="start" name="trip-start" value=@ViewData["aktualna"] style="margin-top:6px"> <br />
        <input type="submit" class="myButtonn" value="wgraj dane" />
    </form>
    <br/>
       <div class="statsView">
       <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Dystans [km]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.strzaly)
            {
                <tr>
                    <td>@item.data.Day:@item.data.Month:@item.data.Year</td>
                    <td>@item.wartosc</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div>
        <h4>@ViewData["StrzalyStatystyki"]</h4>
    </div>
    
</div>

<div class="namesurname" style="text-align:center">
    <form asp-page-handler="sztangamaxile" method="post" asp-antiforgery="true">
        <h3>Skuteczność podań</h3>
        <h3> Jaka skuteczność [%]</h3>
        <input type="number" name="maxilekg" style="margin-top:5px" />
        <br/>
        <input type="date" id="start" name="trip-start" value=@ViewData["aktualna"] style="margin-top:10px;margin-bottom:6px"> <br />
        <input type="submit" class="myButtonn" value="wgraj dane" />
    </form>
    <br />
    <div class="statsView">
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Dystans [km]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.podania)
                {
                    <tr>
                        <td>@item.data.Day:@item.data.Month:@item.data.Year</td>
                        <td>@item.wartosc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h4>@ViewData["PodaniaStatystyki"]</h4>
</div>

<div class="namesurname" style="text-align:center">
    <form asp-page-handler="sztangamaxile" method="post" asp-antiforgery="true">
        <h3>Liczba oddechów</h3>
        <h3> Ile [liczba]</h3>
        <input type="number" name="maxilekg" style="margin-top:5px" />
        <br />
        <input type="date" id="start" name="trip-start" value=@ViewData["aktualna"] style="margin-top:10px;margin-bottom:6px"> <br />
        <input type="submit" class="myButtonn" value="wgraj dane" />
    </form>
    <br />
    <div class="statsView">
       <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Dystans [km]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.oddechy)
            {
                <tr>
                    <td>@item.data.Day:@item.data.Month:@item.data.Year</td>
                    <td>@item.wartosc</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <h4>@ViewData["OddechyStatystyki"]</h4>
</div>
